/* common styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1150px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 30px;
    text-align: center;
}
.section-description{
    color: #444343;
    margin-bottom: 16px;
}
.btn-primary{
    background-color: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    color: #ffffff;
    padding: 20px 25px;
}
/* header and banner section styles */
header{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner{
    margin: 0 auto;
    max-width: 1150px;
}
.banner-content{
    text-align: right;
    width: 45%;
    margin-left: auto;
    
}
.banner-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}
.banner-description{
    margin-bottom: 30px;
    color: #444343;
}
/* My tours section styles */
.tour-place{
    display: flex;
    gap:24px;
}
.tour-place-image{
    height: 400px;
    width: 367px;
    border-radius: 5px;
}
.image-caption{
    font-size: 18px;
    color: #7d7d7d;
}
/* my failures section styles */
.my-failures{
    display: flex;
    gap: 85px;
    align-items: center;
}
.my-failures .section-title{
    text-align: left;
}
.failures-content{
    padding-right: 60px;
}
.failures-content ul{
    padding: 0;
}
.failures-content li{
    list-style: none;
    margin-bottom: 10px;
    color: #444343;
}
.failures-content li i{
    color: green;
}
/* my plans section styles */
.plan-contents{
    display: flex;
    justify-content: space-around;
}
.plan-item{
    text-align: center;
}
.plan-item .title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
}
.plan-item .description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
.mindset{
    display: flex;
    align-items: center;
    background-image: url(../images/watch.png),linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 300px;
    margin-top: 120px;
    border-radius: 5px;
}
.mindset-content{
    padding: 0 475px 0 65px;
}
.mindset-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}
.mindset-content .btn-primary{
    background-color: #ffffff;
    color: #F15B22;
}
/* footer */
footer{
    background-color: #151414;
    margin-top: 130px;
}
.footer-section{
    max-width: 1150px;
    margin: 0 auto;
    padding: 130px 0;
    display: flex;
    justify-content: space-around;
}
.future{
    padding-right: 330px;
}
.future .section-title,.future .section-description{
    color: #ffffff;
    text-align: left;
}
.future ul{
    padding: 0;
}
.future li{
    list-style: none;
    margin-bottom: 16px;
    color: #ffffff;
}
.social-icons img{
    margin-right: 10px;
}

.subscribe .title{
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
}
.subscribe input[type="email"]{
    margin-bottom: 16px;
    padding: 22px 0 22px 22px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    width: 325px;
    font-size: 18px;
}
.subscribe input::placeholder{
    color: #8a8a8a;
}
.subscribe .btn-primary{
    background-color: #ffffff;
    color: #F15B22;
}
