/* common styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1150px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 30px;
    text-align: center;
}
.btn-primary{
    background-color: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    color: #ffffff;
    padding: 20px 25px;
}
/* header and banner styles */
header{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner{
    margin: 0 auto;
    max-width: 1150px;
}
.banner-content{
    text-align: right;
    width: 45%;
    margin-left: auto;
    
}
.banner-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}
.banner-description{
    margin-bottom: 30px;
    color: #444343;
}
/* My tours styles */
.tour-place{
    display: flex;
    gap:24px;
}
.tour-place-image{
    height: 400px;
    width: 367px;
    border-radius: 5px;
}
.image-caption{
    font-size: 18px;
    color: #7d7d7d;
}